fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary,pool]
alembic
pydantic[email]
pydantic-settings
argon2-cffi
pyjwt[crypto]
python-multipart

# Testing
pytest
httpx
pytest-asyncio

boto3==1.34.69
google-auth
